name: Build and release

on: 
  workflow_dispatch:
jobs:
  build_and_release:
    runs-on: ubuntu-latest


    steps:              
      - name: checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'

      - name: build
        run: |
          dotnet restore
          dotnet build --configuration Release --no-restore
        shell: powershell
        
      - name: test
        run: |
          dotnet test --no-restore --verbosity normal
        shell: powershell

      
