name: Build and release

on: 
  workflow_dispatch:
jobs:
  build_and_release:
    runs-on: [self-hosted, wiis]


    steps:              
      - name: checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: build
        run: |
          dotnet restore
          dotnet build --configuration Release --no-restore
        shell: powershell
        
      - name: test
        run: |
          dotnet test --no-restore --verbosity normal
        shell: powershell

      
